<div ng-controller="UpdateClusterDetailsController as ctrl">
  <p class="step-description" translate>Please provide the initial hostname for the instance, the availability zone where it will be deployed, and the instance count.
  Increase the Count to create multiple instances with the same settings.</p>
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <div class="form-group"
        ng-class="{ 'has-error': updateClusterDetailsForm.name.$invalid && updateClusterDetailsForm.name.$dirty }">
        <label for="name" class="control-label">
        <translate>Cluster Name</translate>
        <span class="hz-icon-required fa fa-asterisk"></span>
      </label>
      <input id="name" name="name" type="text" class="form-control"
      ng-model="model.newClusterSpec.name" ng-required="true" ng-disabled="true">
      <span class="help-block"
        ng-show="updateClusterDetailsForm.name.$invalid && updateClusterDetailsForm.name.$dirty">
        {$ ctrl.clusterNameError $}
      </span>
    </div>
    <div ng-if="ctrl.isDescriptionSupported" class="form-group">
      <label class="control-label" translate for="description">Description</label>
      <input id="description" name="description" type="text" class="form-control"
      ng-model="model.newClusterSpec.description">
    </div>
    <div class="form-group">
      <label class="control-label" translate for="profile">Profile</label>
      <div class="horizon-loading-bar" ng-if="!model.loaded.Profiles">
        <div class="progress progress-striped active">
          <div class="progress-bar"></div>
        </div>
      </div>
      <div class="alert alert-warning"
        ng-if="model.loaded.Profiles && model.Profiles.length === 0"
      translate>There are no Profiles.</div>
      <select ng-if="model.loaded.Profiles && model.Profiles.length !== 0"
        class="form-control"
        id="profile"
        ng-options="profile.profile_id as profile.label for profile in model.Profiles"
        ng-model="model.newClusterSpec.profile_id"
        ng-required="true">
      </select>
    </div>
    <div class="form-group" ng-class="{ 'has-error': updateClusterDetailsForm.min_size.$invalid }">
      <label class="control-label" for="instance-min_size">
      <translate>Min Size</translate>
      <span class="hz-icon-required fa fa-asterisk"></span>
    </label>
    <input id="instance-min_size" name="min_size" type="number" class="form-control" min="0"
    ng-model="model.newClusterSpec.min_size"
    ng-required="true" ng-pattern="/^[0-9]+$/"
    validate-number-min="0"
    validate-number-max="{$ ctrl.maxInstanceCount $}"
    ng-change="ctrl.ValidateSize()">
    <span class="help-block" ng-show="updateClusterDetailsForm.min_size.$invalid">
      {$ updateClusterDetailsForm.min_size.$error.validateNumberMax ? ctrl.instanceCountMaxError : ctrl.instanceCountError $}
    </span>
  </div>
  <div class="form-group" ng-class="{ 'has-error': updateClusterDetailsForm.desired_capacity.$invalid || ctrl.clusterSizeError }">
    <label class="control-label" for="instance-desired_capacity">
    <translate>Desired Capacity</translate>
    <span class="hz-icon-required fa fa-asterisk"></span>
  </label>
  <input id="instance-desired_capacity" name="desired_capacity" type="number" class="form-control" min="0"
  ng-model="model.newClusterSpec.desired_capacity"
  ng-required="true" ng-pattern="/^[0-9]+$/"
  validate-number-min="0"
  validate-number-max="{$ ctrl.maxInstanceCount $}"
  ng-change="ctrl.ValidateSize()">
  <span class="help-block" ng-show="updateClusterDetailsForm.desired_capacity.$invalid">
    {$ updateClusterDetailsForm.desired_capacity.$error.validateNumberMax ? ctrl.instanceCountMaxError : ctrl.instanceCountError $}
  </span>
  <span class="help-block">
    {$ ctrl.clusterSizeError $}
  </span>
</div>
<div class="form-group" ng-class="{ 'has-error': updateClusterDetailsForm.max_size.$invalid }">
  <label class="control-label" for="instance-max_size">
  <translate>Max Size</translate>
  <span class="hz-icon-required fa fa-asterisk"></span>
</label>
<input id="instance-max_size" name="max_size" type="number" class="form-control" min="1"
ng-model="model.newClusterSpec.max_size"
ng-required="true" ng-pattern="/^[0-9]+$/"
validate-number-min="1"
validate-number-max="{$ ctrl.maxInstanceCount $}"
ng-change="ctrl.ValidateSize()">
<span class="help-block" ng-show="updateClusterDetailsForm.max_size.$invalid">
  {$ updateClusterDetailsForm.max_size.$error.validateNumberMax ? ctrl.instanceCountMaxError : ctrl.instanceCountError $}
</span>
</div>
</div>
</div>
</div>
