<div ng-controller="UpdateClusterAutoScalingPoliciesController as ctrl">
   <div>
      <p class="step-description" translate>
         Can create some auto scaling policies to do trigger create instance when reach threshold
      </p>
      <div class="row">
         <div class="col-xs-8">
            <div class="form-group">
               <label translate>Do you want create auto scaling policies for this cluster?</label>
               <br/>
               <div class="btn-group">
                  <label class="btn btn-default"
                     ng-repeat="option in ctrl.toggleButtonOptions"
                     ng-model="ctrl.use_autoscaling_policies"
                  uib-btn-radio="option.value">{$ ::option.label $}</label>
               </div>
            </div>
         </div>
      </div>
      <div ng-if="ctrl.use_autoscaling_policies">
         <div class="row">
            <div class="col-xs-6">
               <div class="form-group">
                  <label for="autoscaling-policy-type" class="control-label" translate>Select Policy Type</label>
                  <span class="hz-icon-required fa fa-asterisk"></span>
                  <select name="autoscaling-policy-type" class="form-control" id="autoscaling-policy-type"
                     ng-options="event.value as event.label for event in ctrl.eventScaling| orderBy:'label'"
                     ng-model="model.newPolicySpec.policy_type"
                  ng-required="true"></select>
               </div>
            </div>
            <div class="col-xs-6">
               <div class="form-group"
                  ng-class="{ 'has-error': updateClusterScalingPoliciesForm['instance_count'].$invalid }">
                  <label for="instance_count" class="control-label">
                  <translate>Instance Count</translate>
                  <span class="hz-icon-required fa fa-asterisk"></span>
               </label>
               <input class="form-control" id="instance_count" name="instance_count"
               ng-model="model.newPolicySpec.instance_count" ng-pattern="/^[0-9]+$/"
               type="number" validate-number-min="1" validate-number-max="10">
               <span class="help-block"
                  ng-show="updateClusterScalingPoliciesForm['instance_count'].$invalid ">
                  {$ updateClusterScalingPoliciesForm['instance_count'].$error.validateNumberMin ? ctrl.minInstanceError : ctrl.InstanceError $}
               </span>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-xs-6">
            <div class="form-group">
               <label for="autoscaling-metric-type" class="control-label" translate>Select Metric Type</label>
               <span class="hz-icon-required fa fa-asterisk"></span>
               <select name="autoscaling-metric-type" class="form-control" id="autoscaling-metric-type"
                  ng-options="metric.value as metric.label for metric in ctrl.MetricAutoScaling| orderBy:'label'"
                  ng-model="model.newPolicySpec.metric_type"
                  ng-click="ctrl.checkUseLoadBalancer()"
               ng-required="true"></select>
            </div>
         </div>
         <div class="col-xs-6">
            <div class="form-group"
               ng-class="{ 'has-error': updateClusterScalingPoliciesForm['threshold'].$invalid }">
               <label for="threshold" class="control-label">
               <translate>Threshold</translate>
               <span class="hz-icon-required fa fa-asterisk"></span>
            </label>
            <input class="form-control" id="threshold" name="threshold"
            ng-model="model.newPolicySpec.threshold" ng-pattern="/^[0-9]+$/" ng-if="['cpu_used', 'ram_used'].indexOf(model.newPolicySpec.metric_type) !== -1"
            type="number" validate-number-min="5" validate-number-max="100" ng-change="ctrl.checkThreshold()">
            <input class="form-control" id="threshold" name="threshold"
            ng-model="model.newPolicySpec.threshold" ng-pattern="/^[0-9]+$/" ng-if="['net_used'].indexOf(model.newPolicySpec.metric_type) !== -1"
            type="number" validate-number-min="10" ng-change="ctrl.checkThreshold()">
            <input class="form-control" id="threshold" name="threshold"
            ng-model="model.newPolicySpec.threshold" ng-pattern="/^[0-9]+$/" ng-if="['request_per_second'].indexOf(model.newPolicySpec.metric_type) !== -1"
            type="number" validate-number-min="100" ng-change="ctrl.checkThreshold()">
            <span class="help-block"
               ng-show="updateClusterScalingPoliciesForm['threshold'].$invalid ">
               {$ updateClusterScalingPoliciesForm['threshold'].$error.validateNumberMin ? ctrl.minThresholdError : ctrl.ThresholdError $}
            </span>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-xs-6">
         <div class="form-group"
            ng-class="{ 'has-error': updateClusterScalingPoliciesForm['range_time'].$invalid }">
            <label for="range_time" class="control-label">
            <translate>Range Time</translate>
            <span class="hz-icon-required fa fa-asterisk"></span>
         </label>
         <input class="form-control" id="range_time" name="range_time"
         ng-model="model.newPolicySpec.range_time" ng-pattern="/^[0-9]+$/"
         type="number" validate-number-min="300">
         <span class="help-block"
            ng-show="updateClusterScalingPoliciesForm['range_time'].$invalid ">
            {$ updateClusterScalingPoliciesForm['range_time'].$error.validateNumberMin ? ctrl.minRangeTimeError : ctrl.RangeTimeError $}
         </span>
      </div>
   </div>
   <div class="col-xs-6">
      <div class="form-group"
         ng-class="{ 'has-error': updateClusterScalingPoliciesForm['interval_time'].$invalid }">
         <label for="interval_time" class="control-label">
         <translate>Interval Time</translate>
         <span class="hz-icon-required fa fa-asterisk"></span>
      </label>
      <input class="form-control" id="interval_time" name="interval_time"
      ng-model="model.newPolicySpec.interval_time" ng-pattern="/^[0-9]+$/"
      type="number" validate-number-min="300">
      <span class="help-block" ng-show="updateClusterScalingPoliciesForm['interval_time'].$invalid ">
         {$ updateClusterScalingPoliciesForm['interval_time'].$error.validateNumberMin ? ctrl.minIntervalTimeError : ctrl.IntervalTimeError $}
      </span>
   </div>
</div>
</div>
<div class="row">
<div class="col-xs-6">
   <div class="form-group">
      <label for="vol-create" translate>Add New Policy?</label>
      <br/>
      <div class="btn-group">
         <label class="btn btn-default" ng-click="ctrl.AddPolicy()">Add</label>
      </div>
   </div>
</div>
</div>
</div>
</div>
<div class="row">
<div ng-if="model.newClusterSpec.scale_out_info.length > 0">
<label translate>List Scale Out Policies:</label>
<span class="subtitle text-danger" ng-show="ctrl.scaleOutPoliciesError">
Duplicated auto scaling out policies. Only create each metric type most one.
</span>
<table class="table table-striped">
<tr>
   <th>Metric Type</th>
   <th>Threshold</th>
   <th>Range Time</th>
   <th>Interval Time</th>
   <th>Instance Count</th>
</tr>
<tr ng-repeat="policy in model.newClusterSpec.scale_out_info">
   <td>
      {$ policy.metric ? ctrl.MetricAutoScalingText[policy.metric] : "Not Available" $}
   </td>
   <td>
      {$ policy.threshold && policy.metric === "request_per_second" ? policy.threshold + " req/s" : policy.threshold && policy.metric === "net_used" ? policy.threshold + " MBps" : policy.threshold + " %" $}
   </td>
   <td> {$ policy.range_time + " s" $} </td>
   <td> {$ policy.cooldown + " s" $} </td>
   <td ng-bind="policy.number"></td>
   <td span ng-click="ctrl.removeItem(model.newClusterSpec.scale_out_info, $index)">Delete</td>
</tr>
</table>
</div>
</div>
<div class="row">
<div ng-if="model.newClusterSpec.scale_in_info.length > 0">
<label translate>List Scale In Policies:</label>
<span class="subtitle text-danger" ng-show="ctrl.scaleInPoliciesError">
Duplicated auto scaling in policies. Only create each metric type most one.
</span>
<table class="table table-striped">
<tr>
   <th>Metric Type</th>
   <th>Threshold</th>
   <th>Range Time</th>
   <th>Interval Time</th>
   <th>Instance Count</th>
</tr>
<tr ng-repeat="policy in model.newClusterSpec.scale_in_info">
   <td>
      {$ policy.metric ? ctrl.MetricAutoScalingText[policy.metric] : "Not Available" $}
   </td>
   <td>
      {$ policy.threshold && policy.metric === "request_per_second" ? policy.threshold + " req/s" : policy.threshold && policy.metric === "net_used" ? policy.threshold + " MBps" : policy.threshold + " %" $}
   </td>
   <td> {$ policy.range_time + " s" $} </td>
   <td> {$ policy.cooldown + " s" $} </td>
   <td ng-bind="policy.number"></td>
   <td span ng-click="ctrl.removeItem(model.newClusterSpec.scale_in_info, $index)">Delete</td>
</tr>
</table>
</div>
</div>
</div>
