<div ng-controller="UpdateClusterLoadBalancerController as ctrl">
  <div ng-show="model.LoadBalancers.length > 0">
    <p class="step-description" translate>
      Load Balancer can be use for cluster to handle traffic to each member of this cluster.
    </p>
    <div class="row">
      <div class="col-xs-8">
        <div class="form-group">
          <label translate>Do you want use Load Balancer for this cluster?</label><br/>
          <div class="btn-group">
            <label class="btn btn-default"
              ng-repeat="option in ctrl.toggleButtonOptions"
              ng-model="model.newClusterSpec.use_load_balancer"
            uib-btn-radio="option.value">{$ ::option.label $}</label>
          </div>
        </div>
      </div>
    </div>
    <div ng-if="model.newClusterSpec.use_load_balancer">
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group" ng-class="{ 'has-error': updateClusterLoadBalancerForm.loadbalancer.$invalid }">
            <label for="loadbalancer" class="control-label" translate>Select Load Balancer</label>
            <span class="hz-icon-required fa fa-asterisk"></span>
            <select name="loadbalancer" class="form-control" id="loadbalancer"
              ng-required="true"
              ng-options="loadbalancer.id as loadbalancer.label for loadbalancer in model.LoadBalancers| orderBy:'label'"
              ng-model="model.newClusterSpec.load_balancer_info.id">
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="form-group" ng-class="{ 'has-error': updateClusterLoadBalancerForm.pool.$invalid }">
            <label for="pool" class="control-label" translate>Select Pool of Load Balancer</label>
            <span class="hz-icon-required fa fa-asterisk"></span>
            <div class="horizon-loading-bar" ng-if="!model.loaded.Pools">
              <div class="progress progress-striped active">
                <div class="progress-bar"></div>
              </div>
            </div>
            <div class="alert alert-warning"
              ng-if="model.loaded.Pools && model.Pools.length === 0"
            translate>There are no Load Balancer Pools</div>
            <select name="pool" class="form-control" id="pool"
              ng-options="pool.id as pool.label for pool in model.Pools| orderBy:'label'"
              ng-if="model.loaded.Pools && model.Pools.length > 0"
              ng-required="true"
              ng-model="model.newClusterSpec.load_balancer_info.server_group_id">
            </select>
          </div>
        </div>
      </div>
      <div class="row" ng-if="model.loaded.Pools && model.Pools.length > 0">
        <div class="col-xs-8">
          <div class="form-group"
            ng-class="{ 'has-error': updateClusterLoadBalancerForm['server_group_port'].$invalid }">
            <label for="server_group_port" class="control-label">
            <translate>Port of Instance</translate>
            <span class="hz-icon-required fa fa-asterisk"></span>
          </label>
          <input name="server_group_port"
          id="server_group_port"
          type="number"
          class="form-control"
          ng-model="model.newClusterSpec.load_balancer_info.server_group_port"
          validate-number-max="65535"
          ng-required="true"
          validate-number-min="22"
          ng-pattern="/^[0-9]+$/">
          <span class="help-block"
            ng-show="updateClusterLoadBalancerForm['server_group_port'].$invalid">
            {$ updateClusterLoadBalancerForm['server_group_port'].$error.validateNumberMin ? ctrl.minServerGroupPortError : ctrl.ServerGroupPortError $}
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="model.LoadBalancers.length === 0">
  <div translate class="subtitle text-danger">There are no load balancers. If you think this is wrong please contact your administrator.
  </div>
</div>
</div>
</div>
