<p translate>An profile name is required and used to help you uniquely identify your profile in the dashboard.</p>

<p translate>If you select an availability zone and plan to use the 'boot from volume' option in the Source step, make sure that the availability zone you select for the instance create with profile is the same availability zone where your bootable volume resides.</p>
